
@font-face {
    font-family:Galada-Regular ;
    src: url(font/Galada-Regular.ttf);
        }
       

*{
     padding: 0;
    margin: 0;
    cursor: none;
    font-family: Galada-Regular;
    cursor: url(../images/scope.cur),auto
            
 }

body{
       
    background-size: 400%;
    text-align: center;
    overflow: hidden;
    background-color: black;
             
 }

 img.shootGun{
    position: absolute;
     z-index: 3;
     width: 40px;
     height: 40px;
     border-radius: 50%;
           
 }



             
.body_animate{
    position: absolute;
    top:-200px;
    left: 50%;
    height: 110px;
    width: 110px;
    box-shadow: 4px 4px 10px red,-4px -4px 10px blue,4px 4px 10px black;
                
}
       
 
div.container_home{
     border: 10px solid black;
     text-align: center;
    background-color:white;
               
 }

        

img{
     width: 100%;
    height: 100%;
}

img.soundon,img.soundoff{
     position: absolute;
    width: 74px;
    height: 59px;
    z-index: 99;
     top: 7%;
     left: 2%;
    display: none;
}
      
     
div.container_home div.blur{
    position: absolute;
    top: -20px;
     left: -20px;
    width: 104%;
    height: 104%;
    background-color: rgba(1,1,1,.4);
 }



  
        
   
div.container_home button{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 15px 50px;
    transform: translate(-50%,-50%);
    background-color: lime;
    border: none;
   font-size: 30px;
    color: white;
    box-shadow: 10px 10px 10px black;
    z-index: 9;


}

div.popUp{
    position: absolute;
    top: 0%;
    left: 0%;
    transform: scale(0);
    background-color:  rgba(1,1,1,.8);
    height: 100vh;
    width: 100%;
  

}

div.popUp div.content{
    position: absolute;
    top: 20%;
    left: 37%;
    width: 400px;
    height: 400px;
    background-color: teal;
}
div.popUp div.content span.close{
    margin-right: -90%;
    margin-top: 10%;
    background-color: white;
    font-size: 30px;
    padding: 10px 20px;
   
}
div.popUp div.content p{
    font-size: 30px;
    margin-top: 10%;
    color: white;
    font-family: fantasy;

    
}
div.popUp div.content form input[type='text']{
    display: block;
    margin-left:20%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 10px 30px;
    
    transition: 1s cubic-bezier(.15,1.6,.84,.58);
}
div.popUp div.content form input[type='text']:focus{
    transform:  translate(17px,-17px);
    background-color: chartreuse;
    font-size: 18px;
}
div.popUp div.content form input[type='radio']{
    
    margin-top: 7%;
    width: 20px;
    height: 20px;

}
div.popUp div.content form input[type='submit']{
    margin-left:40%;
    display: block;
    padding: 10px 30px;
    margin-top: 10%;
    background-color: chartreuse;
    border: none;
}
div.popUp div.content form label{
    margin-left: 5%;
    font-size: 20px;
}



@keyframes animateBackground {
    0% {
        transform-origin:bottom ;    
    }
    15% {
        transform-origin: left;
        transform: scale(1.1) ;
      
    }
    30% {
      
        transform: scale(1);
    }
    50% {
        transform-origin: right;
        transform: scale(1.1);
       
    }
    65% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(1.3);transform-origin: left;
    }
    100% {
        transform: scale(1);
    }


}

